@import '../../styles/themes.scss';

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.indicator {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.dot {
  display: inline-block;
  width: 12rpx;
  height: 12rpx;
  margin: 0 6rpx;
  background-color: #ccc;
  border-radius: 50%;
  vertical-align: middle;
  animation: dotsloading 0.75s infinite linear;
}

.dot:nth-of-type(2) {
  animation-delay: 0.25s;
}

.dot:nth-of-type(3) {
  animation-delay: 0.5s;
}

@keyframes dotsloading {
  0% {
    background-color: #ccc;
  }

  50% {
    background-color: $primary;
  }

  51% {
    background-color: #ccc;
  }

  100% {
    background-color: #ccc;
  }
}
