@import '../../../common/styles/themes.scss';

.container {
  background: #f4f4f4;
  position: relative;
}

.demoWrap {
  width: 100%;
  padding-top: 15px;
  box-sizing: border-box;
}

.bottomWarp {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  flex: 1;
  display: flex;
  align-items: center;
}

.btn {
  width: 50%;
  bottom:0;
  display: block;
  color: #333;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  text-align: center;
}

.yellowBtn {
  background: #FFD700;
  border: 1rpx solid #FFD700;
}

.whiteBtn {
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  image {
    width: 16px;
    height: 16px;
  }
}
