/* 颜色 */
$primary: #1976d2; // 主题色
$primary-gradual: #36aeeb; // 主题色渐变初始色
$orange: #fea54c;
$red: #fe473c;
$dark: #323232;
$gray: #999;
$light: #dadada;

$border-color: #ccc;
$body-color: #f6f6f6;

// 行高
$line-light: 1.5;
