.modalBox {
  /* 理论上alertView层级最高，如果显示有层级异常请自行调低页面元素层级 */
  z-index: 999;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.mask {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  position: absolute;
  z-index: 9;
  left: 50%;
  top: 50%;
  width: 72%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 9px;
  max-width: 90%;
}

.modalpad {
  padding: 20px 15px;
  position: relative;
}

.modalTitle {
  display: block;
  font-size: 16px;
  text-align: center;
  color: #323232;
}

.modalContent {
  font-size: 16px;
  color: #323232;
  min-height: 80px;
  display: flex;
  align-items: center;
}

.flexcc {
  color: #323232;
  flex: 1;
}

.textC {
  text-align: center;
}
.textL {
  text-align: left;
}
.textR {
  text-align: right;
}

.btnBox {
  display: flex;
}

.cancelBtn,
.confirmBtn {
  height: 50px;
  box-sizing: border-box;
  font-size: 16px;
  border-top: 1px solid #f2f2f2;
  color: #323232;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cancelBtn::after {
  content: ' ';
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background: #f2f2f2;
}

.confirmBtn {
  color: #fe473c;
}
